extends layout

block content
  #banner.page-header
    .row
      .col-lg-12
        h1= pageHeader.title
          small &nbsp;#{pageHeader.strapline}
  .row
    each chapter in chapters
      div(class='col-xs-12 col-sm-3 list-group-item chapter-colour-#{chapter.colour}')
        h4 
          a(href='/#{chapter.url}') #{chapter.title}
    